/* .programer{
    position: relative;
    background: #0a1018;
    bottom:840px;
    left:0;
    z-index: 10;
    height: 0px;
}
.programer img{   
     position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    margin: 0;
 
    height: 100px;
   
} */
.programer h1{
    color:#78b5ed;
    position: absolute;
    top:-480px;
    left:50%;
    transform: translate(-50%,-50%);

}
/* List */
.bullet-list{
    width: 620px;
    left: 50%;
    position: absolute;
    top: 125px;
    transform: translateX(-50%);
    z-index: 5;
    list-style: none;
}

.bullet-list li a{
    display: block;
    cursor: pointer;
    width: 56px;
    height: 56px;
    position: relative;
    background: url("http://agencylegend.com/images/bullet-icon.png") no-repeat;
    text-decoration: none;
    transition: all .4s;
}
.bullet-list li a:hover{
    background: url("http://agencylegend.com/images/bullet-hover.png") no-repeat;
    width: 56px;
    height: 56px;
    display: block;
}
.bullet-icon1{
    position: absolute;
    top:-476px;
    left:126px;
}

.bullet-icon2{
    position: absolute;
    top:-376px;
    right:126px;
}
.bullet-icon3{
    position: absolute;
    top:-276px;
    left:100px;
}
.bullet-icon4{
    position: absolute;
    top:-176px;
    right:86px;
}
.bullet-icon5 a.active{
    display: block;
    cursor: pointer;
    width: 56px;
    height: 56px;
    position: relative;
    background: url("http://agencylegend.com/images/bullet-hover.png") no-repeat;
    text-decoration: none;
}
.bullet-icon5{
    position: absolute;
    top:-176px;
    left:226px;
}
.bullet-icon6{
    position: absolute;
    top: -45px;
    right: 55px;
}
/* Info Robot */
.info-robot{
    position: absolute;
    left: 150px;
    width: 230px;
    top:-120px;
}
.info-robot strong{
    display: block;
    font: 13px/21px "industry", "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding: 0 0 27px;
    margin: 0 0 27px;
    position: relative;
    color: #fff;
}
.info-robot strong::after{
    content: "";
    position: absolute;
    top: auto;
    left: 15%;
    right: auto;
    bottom: 0;
    width: 60px;
    height: 2px;
    margin: 0 0 0 -30px;
    background: url("http://agencylegend.com/images/strip-img.png") no-repeat;
}
.info-robot p{
    width: 230px;
    color: #5e7085;
    text-align: left;
    font-size: 12px;
   
}
/* Button Next Preve */
.info-robot .btn-prev{
    display: inline-block;
    vertical-align: top;
    width: 62px;
    height: 67px;
    margin: 0 1px;
    background: url("http://agencylegend.com/images/btn-left.png") no-repeat;
}
.info-robot .btn-next{
   
    display: inline-block;
    vertical-align: top;
    width: 62px;
    height: 67px;
    margin: 0 1px;
    background: url("http://agencylegend.com/images/btn-right.png") no-repeat;
}