.complete{
    position: absolute;
    top:500px;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
}
.complete strong{
    text-align: center;
    font: 12px/18px "industry", "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
    color: #fff;
   
    letter-spacing: 4px;
    word-spacing: 3px;
    position: relative;
    z-index: 5;
}
.globel-box{
    position: relative;
    
    text-align: center;
    min-height: 800px;
    min-width: 800px;
  
}
.globel-box > img{
    width:100%;
    height:100%;
    object-fit: cover;

    position: absolute;
    top:5px;
}
/* LOGO LIST */

.logo-list  li{
    width: 300px;
    height: 300px;
    position: absolute;   
    z-index: 11;
    left:0;
    top:500px;
    list-style: none;
}
.logo-list li.logo1{
    position: absolute;   

    left:250px;
    top:500px;
}
.logo-list li.logo2{
    position: absolute;   

    left:500px;
    top:500px;
}
.logo-list li.logo3{
    position: absolute;   

    left:0px;
    top:750px;
}
.logo-list li.logo4{
    position: absolute;   

    left:250px;
    top:750px;
}
.logo-list li.logo5{
    position: absolute;   

    left:500px;
    top:750px;
}
.logo-list li.logo6{
    position: absolute;   

    left:0px;
    top:1000px;
}
.logo-list li.logo7{
    position: absolute;   

    left:250px;
    top:1000px;
}
.logo-list li.logo8{
    position: absolute;   

    left:500px;
    top:1000px;
}
.logo-list  li a{
    background: transparent;
}
.logo-list li a img{
  width:100%;
  height:100%;
  object-fit: contain;
}
/* IMG BOX ROBOT */
.complete #robotBOX{
    width: 760px;
    height: 560px;
    position: absolute;
    top: 1135px;
    left: 201px;
    z-index: 10;
}
#robotBOX img{
    width:100%;
    height:100%;
    object-fit: contain;
}
@media only screen and (max-width:1300px){
    .complete #robotBOX{
        width: 500px;
        height: 500px;
    }
    .globel-box {
        width:500px;
        height: 500px;
        min-height: 500px;
        min-width: 500px;
    }
    .logo-list  li{
        width: 150px;
        height: 150px;
    }
    .logo-list li.logo2,.logo-list li.logo5,.logo-list li.logo8{
        display: none;
    }
    .logo-list li.logo1{
        position: absolute;   

        left:350px;
        top:500px;
    }
    .logo-list li.logo4{
        position: absolute;   

        left:350px;
        top:750px;
    }
    .logo-list li.logo7{
        position: absolute;   

        left:350px;
        top:1000px;
    }
}
@media only screen and (max-width:615px){
    .complete{
        position: absolute;
        top: 658px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}
@media only screen and (max-width:540px){
    .complete{
        position: absolute;
        top: 850px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .logo-list li.logo1,  .logo-list li.logo4,  .logo-list li.logo7{
        display: none;
    }
    .logo-list li.logo0,  .logo-list li.logo3,  .logo-list li.logo6{
        position: absolute;   

        left:150px;
    }
    .logo-list li{
        width: 100px;
        height: 100px;
    }
    .globel-box{
        width:350px;
        height: 350px;
        min-height: 400px;
        min-width:400px;
    }
   
}
@media only screen and (max-width:445px){
    .complete{
        display: none;
    }
}