.App{
  /* background: url("http://agencylegend.com/images/img-lines1.png") no-repeat; */
  background: #0a1018;
  background-size: cover;
  z-index: 9990;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  height: 1896px;
 
}
.App::after{
  content: '';
  background: url("http://agencylegend.com/images/img-lines1.png") no-repeat;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: -1;
  
}